/* module_sample */
/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  font-size: 10px;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.text-hide {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

button {
  background: #FFF;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* variables */
/* mixin */
.hidden {
  display: none;
}

#tbm-main {
  margin: 55px auto 60px;
}

.modal {
  position: fixed;
  z-index: 50;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal ul {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-bottom: 50px;
  animation: show-modal 0.7s ease-out;
  animation-fill-mode: forwards;
}
.modal ul::before {
  content: "";
  display: block;
  width: 13%;
  height: 5px;
  background-color: #DBDBDB;
  border-radius: 10px;
  margin: 20px auto;
}
.modal ul li + li {
  margin-top: 10px;
}
.modal ul button {
  font-size: 1.4rem;
  background-color: inherit;
  text-align: left;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 14px 0 14px 26px;
}
.modal ul button:hover {
  color: #F26E22;
  background-color: rgba(240, 240, 240, 0.8);
}

@keyframes show-modal {
  0% {
    bottom: -400px;
  }
  100% {
    bottom: 0;
  }
}
/* button module */
button {
  border: none;
  border-radius: 30px;
  color: #767676;
  transition: 0.2s linear;
}

.l-button,
.ml-button,
.m-button,
.ms-button,
.s-button {
  background-color: #F26E22;
  color: #fff;
}
.l-button:active,
.ml-button:active,
.m-button:active,
.ms-button:active,
.s-button:active {
  background-color: #FFC7A7;
}

.l-disabled-button,
.m-disabled-button,
.ms-disabled-button {
  background-color: #FFC7A7;
  color: #fff;
  pointer-events: none;
}

.m-activ-button,
.s-activ-button {
  border: 1px solid #DBDBDB;
}

[class^=l-] {
  font-size: 1.4rem;
  height: 4.4rem;
  width: 100%;
}

[class^=ml-] {
  font-size: 1.4rem;
  height: 4.4rem;
  width: 30.76%;
}

[class^=m-] {
  font-size: 1.4rem;
  height: 3.4rem;
  width: 30.76%;
}

[class^=ms-] {
  font-size: 1.4rem;
  height: 3.2rem;
  width: 23%;
}

[class^=s-] {
  font-size: 1.2rem;
  height: 2.8rem;
  width: 14.4%;
}

/* navigation module */
.prev-btn {
  background-image: url(/icon/icon-arrow-left.png);
  width: 22px;
  height: 22px;
}

.more-btn {
  background-image: url(/icon/icon-more-vertical.png);
  width: 24px;
  height: 24px;
}

.search-btn {
  background-image: url(/icon/icon-search.png);
  width: 24px;
  height: 24px;
}

[class^=top-] {
  background-color: #fff;
}

.top-basic-nav,
.top-upload-nav,
.top-chat-nav {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 30;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #DBDBDB;
  padding: 0.8rem 1.2rem 0.8rem 1.6rem;
}

.top-search-nav {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 30;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #DBDBDB;
  padding: 1.2rem 1.9rem 0.8rem;
}
.top-search-nav .prev-btn {
  margin-right: 20px;
}
.top-search-nav form {
  width: 100%;
}
.top-search-nav form input {
  font-size: 1.4rem;
  width: 90%;
  border-radius: 15px;
  border: none;
  background-color: #F2F2F2;
  padding: 7px 16px;
}
.top-search-nav form input:focus {
  outline: none;
}

.top-main-nav {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 30;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #DBDBDB;
  padding: 1.2rem 1.6rem;
}
.top-main-nav .top-nav-text {
  font-size: 1.8rem;
  font-weight: 500;
}

.top-chat-nav {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 30;
  top: 0;
}
.top-chat-nav div {
  display: flex;
  align-items: center;
}
.top-chat-nav div .top-nav-text {
  font-size: 1.4rem;
  font-weight: 500;
  margin-left: 1rem;
}

.tab-menu {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 30;
  bottom: 0;
  background-color: #fff;
  border-top: 1px solid #DBDBDB;
  padding: 12px 6px 6px;
}
.tab-menu ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.tab-menu ul li {
  width: 84px;
  text-align: center;
}
.tab-menu ul li a {
  color: #767676;
  display: block;
}
.tab-menu ul li a.on, .tab-menu ul li a:hover {
  color: #F26E22;
}
.tab-menu ul li a::before {
  margin: 0 auto 4px;
}
.tab-menu ul li .home-tab::before {
  content: "";
  display: block;
  background-image: url("/icon/icon-home.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}
.tab-menu ul li .chat-tab::before {
  content: "";
  display: block;
  background-image: url("/icon/icon-message-circle.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}
.tab-menu ul li .post-tab::before {
  content: "";
  display: block;
  background-image: url("/icon/icon-edit.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}
.tab-menu ul li .profile-tab::before {
  content: "";
  display: block;
  background-image: url("/icon/icon-user.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}
.tab-menu ul li .home-tab.on::before {
  background-image: url(/icon/icon-home-fill.svg);
}
.tab-menu ul li .chat-tab.on::before {
  background-image: url(/icon/icon-message-circle-fill.png);
}
.tab-menu ul li .post-tab.on::before {
  background-image: url(/icon/icon-edit-fill.svg);
}
.tab-menu ul li .profile-tab.on::before {
  background-image: url(/icon/icon-user-fill.png);
}
.tab-menu ul li .home-tab:hover::before {
  background-image: url(/icon/icon-home-fill.svg);
}
.tab-menu ul li .chat-tab:hover::before {
  background-image: url(/icon/icon-message-circle-fill.png);
}
.tab-menu ul li .post-tab:hover::before {
  background-image: url(/icon/icon-edit-fill.svg);
}
.tab-menu ul li .profile-tab:hover::before {
  background-image: url(/icon/icon-user-fill.png);
}

.comment {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 30;
  bottom: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-top: 1px solid #DBDBDB;
  padding: 1.3rem 2rem 1.2rem 1.6rem;
}
.comment img {
  width: 42px;
  height: 42px;
}
.comment form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.comment form input {
  width: 79%;
  font-size: 1.4rem;
  border: none;
  padding: 1rem 1.8rem;
}
.comment form input:focus {
  outline: none;
}
.comment form input::placeholder {
  color: #C4C4C4;
}
.comment form button {
  color: #C4C4C4;
  font-size: 1.4rem;
  pointer-events: none;
}
.comment form button.on {
  color: #F26E22;
  pointer-events: painted;
}

/* user module */
.user-search,
.user-follow {
  background-color: #FFF;
}
.user-search a,
.user-follow a {
  display: flex;
  color: #000;
}
.user-search a:active,
.user-follow a:active {
  color: #F26E22;
}
.user-search a img,
.user-follow a img {
  width: 50px;
  height: 50px;
  border: 1px solid #DBDBDB;
  border-radius: 50%;
  margin-right: 12px;
}
.user-search a p,
.user-follow a p {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.user-search a p strong,
.user-follow a p strong {
  font-size: 1.4rem;
  font-weight: 500;
}
.user-search a p span,
.user-follow a p span {
  font-size: 1.2rem;
  font-weight: 400;
  color: #767676;
}

.user-follow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* post module */
.home-post {
  background-color: #fff;
  display: flex;
  justify-content: center;
}
.home-post .avatar-img {
  width: 42px;
  height: 42px;
  border: 1px solid #DBDBDB;
  border-radius: 50%;
  margin-right: 1.2rem;
}
.home-post .content-wrap {
  width: 304px;
}
.home-post .content-wrap .text-wrap {
  display: flex;
  justify-content: space-between;
  margin: 4px 0 16px;
}
.home-post .content-wrap .text-wrap a {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.home-post .content-wrap .text-wrap a strong {
  font-size: 1.4rem;
  font-weight: 500;
  color: #000;
}
.home-post .content-wrap .text-wrap a span {
  font-size: 1.2rem;
  font-weight: 400;
  color: #767676;
}
.home-post .content-wrap .text-wrap a:active {
  color: #F26E22;
}
.home-post .content-wrap .text-wrap a:active strong {
  color: inherit;
}
.home-post .content-wrap .post-content {
  font-size: 1.4rem;
  line-height: 17px;
  margin-bottom: 1.6rem;
}
.home-post .content-wrap .post-img {
  display: block;
  width: 304px;
  height: 228px;
  border-radius: 10px;
}
.home-post .content-wrap .heart-btn {
  font-size: 1.2rem;
  font-weight: 400;
  color: #767676;
  margin: 15px 0 20px;
}
.home-post .content-wrap .heart-btn::before {
  content: "";
  display: inline-block;
  background-image: url("/icon/icon-heart.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 19px;
  height: 17px;
  vertical-align: sub;
  margin-right: 6px;
}
.home-post .content-wrap .heart-btn.on:before {
  background-image: url("/icon/icon-heart-active.png");
}
.home-post .content-wrap .comment-btn {
  font-size: 1.2rem;
  font-weight: 400;
  color: #767676;
  margin-bottom: 2rem;
}
.home-post .content-wrap .comment-btn::before {
  content: "";
  display: inline-block;
  background-image: url("/icon/icon-message-circle.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 19px;
  height: 17px;
  vertical-align: sub;
  margin-right: 6px;
}
.home-post .content-wrap .comment-btn.on:before {
  background-image: url("/icon/icon-message-circle-fill.png");
}
.home-post .content-wrap button + button {
  margin-left: 1.8rem;
}
.home-post .content-wrap .upload-date {
  display: block;
  font-size: 1rem;
  color: #767676;
  margin-bottom: 0.4rem;
}

.product {
  background-color: #fff;
  color: #000;
}
.product:active {
  color: #F26E22;
}
.product img {
  display: block;
  width: 140px;
  height: 90px;
  border-radius: 5px;
  margin-bottom: 0.6rem;
}
.product strong {
  width: 120px;
  padding: 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  font-size: 1.4rem;
  margin-bottom: 0.4rem;
}
.product span {
  font-size: 1.2rem;
  font-weight: 700;
  color: #F26E22;
}

.module-container {
  border: 1px solid black;
  background-color: #F2F2F2;
  margin: 5% auto;
  width: 390px;
}

.top-basic-nav,
.top-upload-nav,
.top-chat-nav,
.top-search-nav,
.top-main-nav,
.top-chat-nav,
.tab-menu,
.comment {
  position: static;
}

/*# sourceMappingURL=module_sample.css.map */
