@charset "UTF-8";
/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  font-size: 10px;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.text-hide {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

button {
  background: #FFF;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* variables */
/* mixin */
.hidden {
  display: none;
}

#tbm-main {
  margin: 55px auto 60px;
}

.modal {
  position: fixed;
  z-index: 50;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal ul {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-bottom: 50px;
  animation: show-modal 1s ease-out;
  animation-fill-mode: forwards;
}
.modal ul::before {
  content: "";
  display: block;
  width: 13%;
  height: 5px;
  background-color: #DBDBDB;
  border-radius: 10px;
  margin: 20px auto;
}
.modal ul li + li {
  margin-top: 10px;
}
.modal ul button {
  font-size: 1.4rem;
  background-color: inherit;
  text-align: left;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 14px 0 14px 26px;
}
.modal ul button:hover {
  color: #F26E22;
  background-color: rgba(240, 240, 240, 0.8);
}

@keyframes show-modal {
  0% {
    bottom: -400px;
  }
  100% {
    bottom: 0;
  }
}
/* button module */
button {
  border: none;
  border-radius: 30px;
  color: #767676;
  transition: 0.2s linear;
}

.l-button,
.ml-button,
.m-button,
.ms-button,
.s-button {
  background-color: #F26E22;
  color: #fff;
}
.l-button:active,
.ml-button:active,
.m-button:active,
.ms-button:active,
.s-button:active {
  background-color: #FFC7A7;
}

.l-disabled-button,
.m-disabled-button,
.ms-disabled-button {
  background-color: #FFC7A7;
  color: #fff;
  pointer-events: none;
}

.m-activ-button,
.s-activ-button {
  border: 1px solid #DBDBDB;
}

[class^=l-] {
  font-size: 1.4rem;
  height: 4.4rem;
  width: 100%;
}

[class^=ml-] {
  font-size: 1.4rem;
  height: 4.4rem;
  width: 30.76%;
}

[class^=m-] {
  font-size: 1.4rem;
  height: 3.4rem;
  width: 30.76%;
}

[class^=ms-] {
  font-size: 1.4rem;
  height: 3.2rem;
  width: 23%;
}

[class^=s-] {
  font-size: 1.2rem;
  height: 2.8rem;
  width: 14.4%;
}

/* navigation module */
.prev-btn {
  background-image: url(/icon/icon-arrow-left.png);
  width: 22px;
  height: 22px;
}

.more-btn {
  background-image: url(/icon/icon-more-vertical.png);
  width: 24px;
  height: 24px;
}

.search-btn {
  background-image: url(/icon/icon-search.png);
  width: 24px;
  height: 24px;
}

[class^=top-] {
  background-color: #fff;
}

.top-basic-nav,
.top-upload-nav,
.top-chat-nav {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 30;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #DBDBDB;
  padding: 0.8rem 1.2rem 0.8rem 1.6rem;
}

.top-search-nav {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 30;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #DBDBDB;
  padding: 1.2rem 1.9rem 0.8rem;
}
.top-search-nav .prev-btn {
  margin-right: 20px;
}
.top-search-nav form {
  width: 100%;
}
.top-search-nav form input {
  font-size: 1.4rem;
  width: 90%;
  border-radius: 15px;
  border: none;
  background-color: #F2F2F2;
  padding: 7px 16px;
}
.top-search-nav form input:focus {
  outline: none;
}

.top-main-nav {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 30;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #DBDBDB;
  padding: 1.2rem 1.6rem;
}
.top-main-nav .top-nav-text {
  font-size: 1.8rem;
  font-weight: 500;
}

.top-chat-nav {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 30;
  top: 0;
}
.top-chat-nav div {
  display: flex;
  align-items: center;
}
.top-chat-nav div .top-nav-text {
  font-size: 1.4rem;
  font-weight: 500;
  margin-left: 1rem;
}

.tab-menu {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 30;
  bottom: 0;
  background-color: #fff;
  border-top: 1px solid #DBDBDB;
  padding: 12px 6px 6px;
}
.tab-menu ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.tab-menu ul li {
  width: 84px;
  text-align: center;
}
.tab-menu ul li a {
  color: #767676;
}
.tab-menu ul li a.on, .tab-menu ul li a:hover {
  color: #F26E22;
}
.tab-menu ul li a::before {
  margin: 0 auto 4px;
}
.tab-menu ul li .home-tab::before {
  content: "";
  display: block;
  background-image: url("/icon/icon-home.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}
.tab-menu ul li .chat-tab::before {
  content: "";
  display: block;
  background-image: url("/icon/icon-message-circle.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}
.tab-menu ul li .post-tab::before {
  content: "";
  display: block;
  background-image: url("/icon/icon-edit.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}
.tab-menu ul li .profile-tab::before {
  content: "";
  display: block;
  background-image: url("/icon/icon-user.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}
.tab-menu ul li .home-tab.on::before {
  background-image: url(/icon/icon-home-fill.svg);
}
.tab-menu ul li .chat-tab.on::before {
  background-image: url(/icon/icon-message-circle-fill.png);
}
.tab-menu ul li .post-tab.on::before {
  background-image: url(/icon/icon-edit-fill.svg);
}
.tab-menu ul li .profile-tab.on::before {
  background-image: url(/icon/icon-user-fill.png);
}
.tab-menu ul li .home-tab:hover::before {
  background-image: url(/icon/icon-home-fill.svg);
}
.tab-menu ul li .chat-tab:hover::before {
  background-image: url(/icon/icon-message-circle-fill.png);
}
.tab-menu ul li .post-tab:hover::before {
  background-image: url(/icon/icon-edit-fill.svg);
}
.tab-menu ul li .profile-tab:hover::before {
  background-image: url(/icon/icon-user-fill.png);
}

.comment {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 30;
  bottom: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-top: 1px solid #DBDBDB;
  padding: 1.3rem 2rem 1.2rem 1.6rem;
}
.comment img {
  width: 42px;
  height: 42px;
}
.comment form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.comment form input {
  width: 79%;
  font-size: 1.4rem;
  border: none;
  padding: 1rem 1.8rem;
}
.comment form input:focus {
  outline: none;
}
.comment form input::placeholder {
  color: #C4C4C4;
}
.comment form button {
  color: #C4C4C4;
  font-size: 1.4rem;
}
.comment form button.on {
  color: #F26E22;
}

/* user module */
.user-search,
.user-follow {
  background-color: #FFF;
}
.user-search a,
.user-follow a {
  display: flex;
  color: #000;
}
.user-search a:active,
.user-follow a:active {
  color: #F26E22;
}
.user-search a img,
.user-follow a img {
  width: 50px;
  height: 50px;
  border: 1px solid #DBDBDB;
  border-radius: 50%;
  margin-right: 12px;
}
.user-search a p,
.user-follow a p {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.user-search a p strong,
.user-follow a p strong {
  font-size: 1.4rem;
  font-weight: 500;
}
.user-search a p span,
.user-follow a p span {
  font-size: 1.2rem;
  font-weight: 400;
  color: #767676;
}

.user-follow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* post module */
.home-post {
  background-color: #fff;
  display: flex;
  justify-content: center;
}
.home-post .avatar-img {
  width: 42px;
  height: 42px;
  border: 1px solid #DBDBDB;
  border-radius: 50%;
  margin-right: 1.2rem;
}
.home-post .content-wrap {
  width: 304px;
}
.home-post .content-wrap .text-wrap {
  display: flex;
  justify-content: space-between;
  margin: 4px 0 16px;
}
.home-post .content-wrap .text-wrap a {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.home-post .content-wrap .text-wrap a strong {
  font-size: 1.4rem;
  font-weight: 500;
  color: #000;
}
.home-post .content-wrap .text-wrap a span {
  font-size: 1.2rem;
  font-weight: 400;
  color: #767676;
}
.home-post .content-wrap .text-wrap a:active {
  color: #F26E22;
}
.home-post .content-wrap .text-wrap a:active strong {
  color: inherit;
}
.home-post .content-wrap .post-content {
  font-size: 1.4rem;
  line-height: 17px;
  margin-bottom: 1.6rem;
}
.home-post .content-wrap .post-img {
  display: block;
  width: 304px;
  height: 228px;
  border-radius: 10px;
}
.home-post .content-wrap .heart-btn {
  font-size: 1.2rem;
  font-weight: 400;
  color: #767676;
  margin: 15px 0 20px;
}
.home-post .content-wrap .heart-btn::before {
  content: "";
  display: inline-block;
  background-image: url("/icon/icon-heart.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 19px;
  height: 17px;
  vertical-align: sub;
  margin-right: 6px;
}
.home-post .content-wrap .heart-btn.on:before {
  background-image: url("/icon/icon-heart-active.png");
}
.home-post .content-wrap .comment-btn {
  font-size: 1.2rem;
  font-weight: 400;
  color: #767676;
  margin-bottom: 2rem;
}
.home-post .content-wrap .comment-btn::before {
  content: "";
  display: inline-block;
  background-image: url("/icon/icon-message-circle.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 19px;
  height: 17px;
  vertical-align: sub;
  margin-right: 6px;
}
.home-post .content-wrap .comment-btn.on:before {
  background-image: url("/icon/icon-message-circle-fill.png");
}
.home-post .content-wrap button + button {
  margin-left: 1.8rem;
}
.home-post .content-wrap .upload-date {
  display: block;
  font-size: 1rem;
  color: #767676;
  margin-bottom: 0.4rem;
}

.product {
  background-color: #fff;
  color: #000;
}
.product:active {
  color: #F26E22;
}
.product img {
  display: block;
  width: 140px;
  height: 90px;
  border-radius: 5px;
  margin-bottom: 0.6rem;
}
.product strong {
  width: 120px;
  padding: 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  font-size: 1.4rem;
  margin-bottom: 0.4rem;
}
.product span {
  font-size: 1.2rem;
  font-weight: 700;
  color: #F26E22;
}

/* 404 페이지 */
#error-app {
  text-align: center;
  margin-top: 200px;
}

#error-app::before {
  content: "";
  display: inline-block;
  background-image: url("/images/logo_error.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 158px;
  height: 158px;
}

#error-app p {
  font-size: 1.4rem;
  font-weight: 400;
  color: #767676;
  margin-bottom: 20px;
}

/* login page */
.splash {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.blur-effect {
  animation: blur 1.1s;
  opacity: 0;
}

.show-effect {
  animation: show 1s 1.1s;
  opacity: 0;
}

@keyframes blur {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.select-login {
  position: relative;
  height: 100vh;
  background-color: #EA7F42;
  background-image: url(/images/symbol-logo-W.png);
  background-repeat: no-repeat;
  background-position: 50% 30%;
}

.sns-btn-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #FFF;
  padding: 5em 3.4em 10em;
}
.sns-btn-container li button {
  font-size: 1.4rem;
  font-weight: 400;
  position: relative;
  color: #767676;
  width: 100%;
  padding: 1.3em 0;
  border: 1.5px solid #000;
  border-radius: 25px;
}
.sns-btn-container li .kakao_login {
  border-color: #F2C94C;
}
.sns-btn-container li .kakao_login:hover {
  color: #F2C94C;
}
.sns-btn-container li .kakao_login::before {
  content: "";
  display: block;
  background-image: url("/icon/kakao.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 17px;
  top: 50%;
  transform: translateY(-50%);
}
.sns-btn-container li .google_login {
  border-color: #767676;
}
.sns-btn-container li .google_login:hover {
  color: #767676;
}
.sns-btn-container li .google_login::before {
  content: "";
  display: block;
  background-image: url("/icon/google.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 17px;
  top: 50%;
  transform: translateY(-50%);
}
.sns-btn-container li .facebook_login {
  border-color: #2D9CDB;
}
.sns-btn-container li .facebook_login:hover {
  color: #2D9CDB;
}
.sns-btn-container li .facebook_login::before {
  content: "";
  display: block;
  background-image: url("/icon/facebook.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 17px;
  top: 50%;
  transform: translateY(-50%);
}
.sns-btn-container li + li {
  margin-top: 1em;
}
.sns-btn-container .btn-wrap {
  font-size: 1.2rem;
  font-weight: 400;
  color: #767676;
  text-align: center;
  margin-top: 2em;
}
.sns-btn-container .btn-wrap *:hover {
  color: #F26E22;
}
.sns-btn-container .btn-wrap .login-btn::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 15px;
  background-color: #C4C4C4;
  vertical-align: -3px;
  margin: 0 1.2em;
}

.login {
  padding: 0 3.4em;
}
.login h2 {
  font-size: 2.8rem;
  font-weight: 600;
  text-align: center;
  margin-top: 50px;
}
.login form {
  margin: 40px 0 30px;
}
.login form fieldset label {
  font-size: 1.2rem;
  font-weight: 500;
  display: block;
  color: #767676;
  margin-bottom: 10px;
}
.login form fieldset input {
  border: none;
  border-bottom: 1px solid #DBDBDB;
  font-size: 1.4rem;
  width: 100%;
  padding: 8px 0;
}
.login form fieldset input:focus {
  outline: none;
  border-color: #F26E22;
}
.login form fieldset + fieldset {
  margin-top: 16px;
}
.login form fieldset.err input {
  border-color: #EB5757;
}
.login form fieldset.err .err-msg {
  display: block;
}
.login form .err-msg {
  display: none;
  border-color: #EB5757;
  color: #EB5757;
  margin-top: 6px;
}
.login form button {
  margin-top: 30px;
}
.login .link-btn-join {
  display: block;
  font-size: 12px;
  color: #767676;
  margin: 20px auto 0;
}
.login .link-btn-join:hover {
  color: #F26E22;
}

/* join page */
input::placeholder {
  color: #DBDBDB;
}

.form-container {
  padding: 50px 34px;
}

.join {
  margin: 40px 0;
}
.join fieldset label {
  font-size: 1.2rem;
  font-weight: 500;
  display: block;
  color: #767676;
  margin-bottom: 10px;
}
.join fieldset input {
  border: none;
  border-bottom: 1px solid #DBDBDB;
  font-size: 1.4rem;
  width: 100%;
  padding: 8px 0;
}
.join fieldset input:focus {
  outline: none;
  border-color: #F26E22;
}
.join fieldset + fieldset {
  margin-top: 16px;
}
.join fieldset.err input {
  border-color: #EB5757;
}
.join fieldset.err .err-msg {
  display: block;
}
.join .err-msg {
  display: none;
  border-color: #EB5757;
  color: #EB5757;
  margin-top: 6px;
}
.join h2 {
  font-size: 2.8rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
}
.join button {
  margin-top: 30px;
}

.set-profile fieldset label {
  font-size: 1.2rem;
  font-weight: 500;
  display: block;
  color: #767676;
  margin-bottom: 10px;
}
.set-profile fieldset input {
  border: none;
  border-bottom: 1px solid #DBDBDB;
  font-size: 1.4rem;
  width: 100%;
  padding: 8px 0;
}
.set-profile fieldset input:focus {
  outline: none;
  border-color: #F26E22;
}
.set-profile fieldset + fieldset {
  margin-top: 16px;
}
.set-profile fieldset.err input {
  border-color: #EB5757;
}
.set-profile fieldset.err .err-msg {
  display: block;
}
.set-profile .err-msg {
  display: none;
  border-color: #EB5757;
  color: #EB5757;
  margin-top: 6px;
}
.set-profile h2 {
  font-size: 2.8rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 12px;
}
.set-profile p {
  font-size: 1.4rem;
  font-weight: 400;
  color: #767676;
  text-align: center;
  margin-bottom: 30px;
}
.set-profile .image-input-wrap input {
  display: none;
}
.set-profile .image-input-wrap label {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  cursor: pointer;
}
.set-profile .image-input-wrap label::before {
  content: "";
  display: block;
  background-image: url("/icon/upload-file.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  position: absolute;
  bottom: 6px;
  right: 0;
}
.set-profile .image-input-wrap label img {
  width: 110px;
  height: 110px;
  border: 1px solid #DBDBDB;
  border-radius: 50%;
}
.set-profile button {
  margin-top: 30px;
}

.hasnt-feed-section {
  text-align: center;
  margin-top: 50%;
}
.hasnt-feed-section::before {
  content: "";
  display: block;
  background-image: url("/images/symbol-logo-gray.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.hasnt-feed-section p {
  font-size: 1.4rem;
  font-weight: 400;
  color: #767676;
  margin: 20px 0;
}

.has-feed-section {
  padding-top: 20px;
}
.has-feed-section .feed-list {
  min-width: 390px;
}
.has-feed-section .feed-list .avatar-img {
  border: 1px solid #DBDBDB;
  border-radius: 50%;
}
.has-feed-section .feed-list > li + li {
  margin-top: 30px;
}

.slide-wrapper {
  position: relative;
  width: 304px;
  height: 228px;
  margin: 0 auto;
  overflow: hidden;
}
.slide-wrapper .slide-list {
  position: absolute;
  left: 0;
  right: 0;
  width: 1000px;
  transition: 0.5s ease-out;
}
.slide-wrapper .slide-list .slide:not(:last-child) {
  float: left;
  margin-right: 20px;
}
.slide-wrapper .control-btns {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.slide-wrapper .control-btns button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #DBDBDB;
}
.slide-wrapper .control-btns button.on {
  background-color: #EA7F42;
}

/* search scss */
.search-user-container {
  padding: 16px;
}
.search-user-container li + li {
  margin-top: 16px;
}
.search-user-container .empty-user {
  font-size: 2rem;
  font-weight: 550;
  color: #EA7F42;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  width: 265px;
}
.search-user-container .highlight {
  font-size: inherit;
  color: #F26E22;
}

/* profile_detail */
.profile-container {
  width: 390px;
  background-color: #E5E5E5;
}

.user-view {
  text-align: center;
  background-color: #fff;
  padding-bottom: 26px;
  margin-bottom: 10px;
}
.user-view .follow-wrapper {
  display: flex;
  justify-content: center;
  padding: 30px 0 16px;
}
.user-view .follow-wrapper img {
  width: 110px;
  height: 110px;
  border: 1px solid #DBDBDB;
  border-radius: 50%;
  margin: 0 40px;
}
.user-view .follow-wrapper button {
  font-size: 1.8rem;
  font-weight: 700;
}
.user-view .follow-wrapper button::after {
  font-size: 1.1rem;
  font-weight: 400;
  color: #767676;
  display: block;
  margin-top: 6px;
}
.user-view .follow-wrapper .follower-btn {
  color: #000;
}
.user-view .follow-wrapper .follower-btn::after {
  content: "followers";
}
.user-view .follow-wrapper .following-btn::after {
  content: "followings";
}
.user-view strong {
  font-size: 1.6rem;
  font-weight: 700;
  display: block;
  margin-bottom: 6px;
}
.user-view span {
  font-size: 1.2rem;
  font-weight: 400;
  color: #767676;
}
.user-view p {
  font-size: 1.4rem;
  font-weight: 400;
  color: #767676;
  margin: 16px 0 24px;
}
.user-view .my-profile button {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 3px 0px;
}
.user-view .my-profile button:active {
  box-shadow: none;
}
.user-view .my-profile button + button {
  margin-left: 12px;
  width: 25.65%;
}
.user-view .other-profile > * {
  vertical-align: top;
}
.user-view .other-profile .m-button {
  margin: 0 10px;
}
.user-view .other-profile .m-button.on {
  color: #767676;
  background-color: #FFF;
  border: 1px solid #DBDBDB;
}
.user-view .other-profile .chat-btn,
.user-view .other-profile .share-btn {
  background-image: url(/icon/icon-message-circle.png);
  background-repeat: no-repeat;
  background-position: 50% 45%;
  background-size: 20px;
  border: 1px solid #DBDBDB;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 3px 0px;
}
.user-view .other-profile .chat-btn:active,
.user-view .other-profile .share-btn:active {
  box-shadow: none;
}
.user-view .other-profile .share-btn {
  background-image: url(/icon/icon-share.png);
}

.product-view {
  background-color: #fff;
  padding: 21px 0 0 21px;
  margin-bottom: 10px;
}
.product-view div {
  margin: 0 auto;
}
.product-view h2 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.product-view ul {
  height: 146px;
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}

.feed-view nav {
  background-color: #fff;
  border-bottom: 1px solid #E5E5E5;
}
.feed-view nav ul {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 10px;
}
.feed-view nav ul li + li {
  margin-left: 13px;
}
.feed-view nav ul button {
  display: block;
  background-repeat: no-repeat;
  background-size: 25px;
  width: 26px;
  height: 26px;
}
.feed-view nav ul .row-mode-btn {
  background-image: url(/icon/icon-post-list-off.png);
}
.feed-view nav ul .grid-mode-btn {
  background-image: url(/icon/icon-post-album-off.png);
}
.feed-view nav ul .row-mode-btn.on {
  background-image: url(/icon/icon-post-list-on.png);
}
.feed-view nav ul .grid-mode-btn.on {
  background-image: url(/icon/icon-post-album-on.png);
}
.feed-view .home-post {
  padding-top: 16px;
}
.feed-view .feed-grid {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  padding: 16px;
}
.feed-view .feed-grid.hidden {
  display: none;
}
.feed-view .feed-grid .multi {
  position: relative;
}
.feed-view .feed-grid .multi:after {
  content: "";
  display: block;
  background-image: url("/icon/icon-img-layers.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 6px;
  right: 6px;
}
.feed-view .feed-grid img {
  border-radius: 10px;
  width: 114px;
  height: 114px;
  cursor: pointer;
}

/* followlist */
.follow-nav h1 {
  font-size: 1.4rem;
  display: inline-block;
  vertical-align: -6px;
}

.user-follow-list {
  padding: 18px 16px 0;
}
.user-follow-list li + li {
  margin-top: 16px;
}
.user-follow-list .s-button.on {
  background-color: #FFF;
  color: #767676;
  border: 1px solid #DBDBDB;
}

/* product */
.product-app {
  overflow: hidden;
  padding: 0 34px;
}
.product-app p {
  font-size: 1.2rem;
  color: #767676;
  margin: 30px 0 18px;
}

.product-image-wrap {
  position: relative;
  width: 322px;
  height: 204px;
  background-color: #F2F2F2;
  border: 1px solid #DBDBDB;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
}
.product-image-wrap .preview-image {
  width: 100%;
  height: 100%;
}
.product-image-wrap label {
  cursor: pointer;
}
.product-image-wrap label::before {
  content: "";
  display: block;
  background-image: url("/icon/img-button.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  position: absolute;
  bottom: 12px;
  right: 12px;
}
.product-image-wrap #imageInput {
  display: none;
}

.nonFile-input-wrapper {
  margin-top: 30px;
}
.nonFile-input-wrapper fieldset + fieldset {
  margin-top: 16px;
}
.nonFile-input-wrapper fieldset label {
  font-size: 1.2rem;
  color: #767676;
  margin-top: 8%;
}
.nonFile-input-wrapper fieldset input {
  width: 100%;
  font-size: 1.4rem;
  border-style: none;
  border-bottom: 1px solid #C4C4C4;
  padding: 10px 0 8px;
}
.nonFile-input-wrapper fieldset input:focus {
  border-color: #F26E22;
  outline: none;
}
.nonFile-input-wrapper fieldset input::placeholder {
  color: #C4C4C4;
}

/* post detail */
.comment-view {
  display: flex;
  justify-content: center;
  border-top: 1px solid #DBDBDB;
  margin-top: 20px;
}
.comment-view ul {
  width: 359px;
  padding: 15px 10px;
}
.comment-view ul li + li {
  margin-top: 23px;
}
.comment-view ul li {
  display: flex;
}
.comment-view ul li img {
  width: 42px;
  height: 42px;
  margin-right: 12px;
}
.comment-view ul li div {
  width: 304px;
}
.comment-view ul li div a {
  color: #000;
  vertical-align: -15px;
}
.comment-view ul li div a strong {
  font-size: 1.4rem;
  font-weight: 550;
}
.comment-view ul li div a em {
  font-size: 1rem;
  font-weight: 400;
  vertical-align: 2px;
  color: #767676;
}
.comment-view ul li div a em::before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  vertical-align: 3px;
  background-color: #767676;
  margin: 0 5px;
}
.comment-view ul li div .more-btn {
  background-image: url(/icon/icon-more-vertical.png);
  background-position: center;
  width: 20px;
  height: 20px;
  float: right;
  margin-top: 8px;
}
.comment-view ul li div p {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 16px;
  margin-top: 15px;
}

/*# sourceMappingURL=style.css.map */
