@charset "utf-8";
/* module_sample */

@import "./common/common";
@import "./module/module";

.module-container {
  border: 1px solid black;
  background-color: $white-gray-color;
  margin: 5% auto;
  width: 390px;
}
