@charset "utf-8";

@import "./reset";
@import "./variables";
@import "./mixin";

.hidden { display: none; }

// tob bottom margin main
#tbm-main {
  margin: 55px auto 60px;
}

// 모달
.modal {
  position: fixed;
  z-index: 50;
  bottom: 0; top: 0;
  left: 0; right: 0;
  background-color: rgba(0,0,0,0.5);
  ul {
    position: absolute;
    bottom: 0;
    left: 0; right: 0;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-bottom: 50px;
    animation: show-modal 1s ease-out;
    animation-fill-mode: forwards;
    &::before {
      content: "";
      display: block;
      width: 13%;
      height: 5px;
      background-color: $line-color;
      border-radius: 10px;
      margin: 20px auto;
    }
    li + li { margin-top: 10px; }
    button {
      font-size: 1.4rem;
      background-color: inherit;
      text-align: left;
      width: 100%; height: 100%;
      border-radius: 10px;
      padding: 14px 0 14px 26px;
      &:hover {
        color: $base-color;
        background-color: rgba(240,240,240,0.8);
      }
    }
  }
}

@keyframes show-modal {
  0% {
    bottom: -400px;
  }
  100% {
    bottom: 0;
  }
}