@charset "utf-8";
/* mixin */

@mixin create_visual_class($image_path, $x, $y, $display:block) {
  content: "";
  display: $display;
  background-image: url($image_path);
  background-size: cover;
  background-repeat: no-repeat;
  width: $x;
  height: $y;
}

@mixin font_module($font-size, $font-weight:500) {
  font-size: $font-size;
  font-weight: $font-weight;
}

@mixin sl-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin input_module {
  fieldset {
    label {
      @include font_module(1.2rem, 500);
      display: block;
      color: $gray-color;
      margin-bottom: 10px;
    }
    input {
      border: none;
      border-bottom: 1px solid $line-color;
      font-size: 1.4rem;
      width: 100%;
      padding: 8px 0;
      &:focus {
        outline: none;
        border-color: $base-color;
      }
    }
  }
  fieldset + fieldset { margin-top: 16px;}
  fieldset.err input { border-color: $red-color; }
  fieldset.err .err-msg { display: block; }
  .err-msg {
    display: none;
    border-color:  $red-color;
    color: $red-color;
    margin-top: 6px;
  }
}

@mixin fixed_position($direction) {
  position: fixed;
  left: 0; right: 0;
  z-index: 30;
  @if $direction == top {
    top: 0;
  } @else if $direction == bottom {
    bottom: 0;
  }
}

@mixin ellipsis($width:70px) {
  width: $width;
  padding: 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
