@charset "utf-8";
/* variables */

// color
$base-color: #F26E22;
$light-base-color:#EA7F42;
$disable-color: #FFC7A7;

$gray-color: #767676;
$white-gray-color: #F2F2F2;
$light-gray-color: #C4C4C4;
$line-color: #DBDBDB;

$red-color: #EB5757;

$shadow :rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
