@charset "utf-8";
/* post module */

.home-post {
  background-color: #fff;
  display: flex;
  justify-content: center;
  .avatar-img {
    width: 4.2rem;
    height: 4.2rem;
    margin-right: 1.2rem;
  }
  .content-wrap {
    width: 304px;
    .text-wrap {
      display: flex;
      justify-content: space-between;
      margin: 4px 0 16px;
      a {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        strong {
          font-size: 1.4rem;
          font-weight: 500;
          color: #000;
        }
        span {
          font-size: 1.2rem;
          font-weight: 400;
          color: $gray-color;
        }
        &:active {
          color: $base-color;
        }
        &:active strong {
          color: inherit;
        }
      }
    }
    .post-content {
      font-size: 1.4rem;
      line-height: 17px;
      margin-bottom: 1.6rem;
    }
    .post-img {
      display: block;
      width: 304px;
      height: 228px;
    }
    .heart-btn {
      @include font_module(1.2rem, 400);
      color: $gray-color;
      margin: 15px 0 20px;
      &::before {
        @include create_visual_class(
          "/icon/icon-heart.png",
          19px,
          17px,
          inline-block
        );
        vertical-align: sub;
        margin-right: 6px;
      }
      &.on:before {
        background-image: url("/icon/icon-heart-active.png");
      }
    }
    .comment-btn {
      @include font_module(1.2rem, 400);
      color: $gray-color;
      margin-bottom: 2rem;
      &::before {
        @include create_visual_class(
          "/icon/icon-message-circle.png",
          19px,
          17px,
          inline-block
        );
        vertical-align: sub;
        margin-right: 6px;
      }
      &.on:before {
        background-image: url("/icon/icon-message-circle-fill.png");
      }
    }
    button + button {
      margin-left: 1.8rem;
    }
    .upload-date {
      display: block;
      font-size: 1rem;
      color: $gray-color;
      margin-bottom: 0.4rem;
    }
  }
}

.product {
  background-color: #fff;
  width: fit-content;
  a {
    color: #000;
    &:active {
      color: $base-color;
    }
    img {
      display: block;
      border-radius: 5px;
      margin-bottom: 0.6rem;
    }
    strong {
      display: block;
      font-size: 1.4rem;
      margin-bottom: 0.4rem;
    }
    span {
      font-size: 1.2rem;
      font-weight: 700;
      color: $base-color;
    }
  }
}
