@charset "utf-8";

/* 404 페이지 */

#error-app {
  text-align: center;
  margin-top: 200px;
  &::before {
    content: "";
    display: inline-block;
    background-image: url("/images/logo_error.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 158px;
    height: 158px;
  }
  p {
    font-size: 1.4rem;
    font-weight: 400;
    color: #767676;
    margin-bottom: 20px;
  }
  button {
    width: 200px;
  }
}
