@charset "utf-8";

/* followlist */
.follow-nav {
  h1 {
    font-size: 1.4rem;
    display: inline-block;
    vertical-align: -6px;
  }
}

.user-follow-list {
  padding: 18px 16px 0;
  li + li { margin-top: 16px; }
  .s-button.on {
    background-color: #FFF;
    color: $gray-color;
    border: 1px solid $line-color;
  }
}
