// 피드가 없는 경우
.hasnt-feed-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &::before {
    @include create_visual_class(
      "/images/symbol-logo-gray.png",
      100px, 100px
    );
    margin: 0 auto;
  }
  p {
    @include font_module(1.4rem, 400);
    color: $gray-color;
    margin: 20px 0;
  }
  button {
    width: 200px;
  }
}

// 피드가 있는 경우
.has-feed-section {
  padding-top: 20px;
  .feed-list {
    min-width: 390px;
    .avatar-img {
      border: 1px solid $line-color;
      border-radius: 50%;
    }
    & > li + li {
      margin-top: 30px;
    }
  }
}

// 이미지 슬라이드
.slide-wrapper {
  position: relative;
  width: 304px;
  height: 228px;
  margin: 0 auto;
  overflow: hidden;
  .slide-list {
    position: absolute;
    left: 0; right: 0;
    width: 1000px;
    transition: 0.5s ease-out;
    .slide:not(:last-child) {
      float: left;
      margin-right: 20px;
    }
  }
  .control-btns {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    button {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $line-color;
      &.on { background-color: $light-base-color; }
    }
  }
}