@charset "utf-8";
/* join page */

// common
input::placeholder { color: $line-color }
.form-container {
  padding: 50px 34px;
}
// login input 부분
.join {
  h2 {
    @include font_module(2.8rem, 600);
    text-align: center;
    margin-bottom: 40px;
  }
  @include input_module();
  margin: 40px 0;
  button {
    margin-top: 30px;
  }
}

.set-profile {
  h2 {
    @include font_module(2.8rem, 600);
    text-align: center;
    margin-bottom: 12px;
  }
  p {
    @include font_module(1.4rem, 400);
    color: $gray-color;
    text-align: center;
    margin-bottom: 30px;
  }
  @include input_module();
  .image-input-wrap {
    input { display: none; }
    label {
      position: relative;
      width: fit-content;
      margin: 0 auto;
      cursor: pointer;
      &::before {
        @include create_visual_class(
          "/icon/upload-file.png",
          36px, 36px
        );
        position: absolute;
        bottom: 6px;
        right: 0;
      }
      img {
        width: 110px;
        height: 110px;
      }
    }
  }
  button {
    margin-top: 30px;
  }
}
